    header {
        background: black;
        color: white;
        height: 50px;
        padding: 15px;

    }

    nav {
        left: 10px;
        position: fixed;
        background-color: aliceblue;
        width: 160px;
        height: 800px;
        border: 1px solid gray;
    }

    aside {
        right: 10px;
        position: fixed;
        background-color: aliceblue;
        width: 180px;
        height: 800px;
        border: 1px solid gray;
    }

    .main {
        flex: 1;
        padding: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #969696;
    }

    article {
        left: 180px;
        position: fixed;
        font-size: 30px;
        font-weight: bold;
    }

    figure {
        left: 150px;
        top: 150px;
        position: fixed;
        background: skyblue;
        border-style: dashed;
    }

    p {
        left: 180px;
        top: 200px;
        position: fixed;
        width: 30%;
    }